.container{
    width: 100vw;
    min-height:90em;
}

.services {
    background: #646464;
    padding: 8em 2em;
    display: flex;
    flex-direction: column;
}

.serviceHeader{
    width: 100%;
    display: flex;
    gap: 4em;
}

.service {
    display: flex;
    gap: 2em;
    height: 150px;
    max-height: 25em;
    border-top:  1px solid rgba(255,255,255, 0.2);
}

.serviceInfo {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content :space-between;
    padding: 1em;
}

.serviceImg{
    flex: 5;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.img{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

