.container {
  width: 100vw;
  min-height: 90em;
  background-color: var(--base-100);
}

.services {
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
}

.serviceHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.serviceHeader h1 {
  font-size: 3rem;
}

.service {
  display: flex;
  gap: 2em;
  height: 150px;
  max-height: 25em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.serviceInfo {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.serviceInfo h1 {
  font-size: 2rem;
  font-weight: 500;
}

.serviceImg {
  flex: 5;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.img {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
