/* MenuModule.module.css */
.menuNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}
.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  color: var(--menu-fg-secondary);
  z-index: 2;
}
.menuLogo {
  width: 2rem;
  height: 2rem;
}
.menuToggleBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.menuToggleLabel {
  overflow: hidden;
}
.menuToggleLabel p {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}
.menuHamburgerIcon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--hamburger-icon-border);
  border-radius: 100%;
}
.menuHamburgerIcon span {
  position: absolute;
  width: 15px;
  height: 1.25px;
  background-color: var(--fg);
  transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  will-change: transform;
}
.menuHamburgerIcon span:nth-child(1) {
  transform: translateY(-3px);
}
.menuHamburgerIcon span:nth-child(2) {
  transform: translateY(3px);
}
.menuHamburgerIcon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}
.menuHamburgerIcon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}
.menuOverlay,
.menuOverlayContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: var(--fg);
  overflow: hidden;
  z-index: 1;
}
.menuOverlay {
  background-color: var(--menu-bg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  will-change: clip-path;
}
.menuOverlayContent {
  display: flex;
  will-change: transform;
  pointer-events: all;
}
.menuMediaWrapper {
  flex: 2;
  opacity: 0;
  will-change: opacity;
}
.menuContentWrapper {
  flex: 3;
  position: relative;
  display: flex;
}
.menuContentMain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuFooter {
  margin: 0 auto;
}
.menuContentMain,
.menuFooter {
  width: 75%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.menuCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.menuCol:nth-child(1) {
  flex: 3;
}
.menuCol:nth-child(2) {
  flex: 2;
}
.menuLink a {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.menuTag a,
.menuFooter p {
  color: var(--menu-fg-secondary);
}
.line {
  position: relative;
  will-change: transform;
}
