.containers {
  overflow: hidden;
  width: 100%;
}

.section.marquees {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marquee-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

#marquee-1 .marquee,
#marquee-3 .marquee {
  left: -15%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.itemImg {
  width: 5rem;
  height: 5rem;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */

  /* background: var(--base-100); */
  border-radius: 50%;
}

.item-with-text {
  flex: 1.5;
}

.item h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

@media (max-width: 900px) {
  .section.marquees {
    height: 100vh;
    /* background-color: black; */
  }

  .marquee-container {
    width: 250%;
    height: 150px;
  }

  #marquee-2 .marquee,
  #marquee-4 .marquee {
    left: -35%;
  }

  .item.with-text {
    flex: 1;
  }

  .item h1 {
    font-size: 30px;
  }
}
