@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #0f172a;
  --card: #f1f5f9;
  --primary: #2563eb;
  --base-100: #181717;
  --base-200: #292725;
  --base-300: #f5f5f5;
  --zIndex-level-1:9999;
  --zIndex-level-2:8888;
  --zIndex-level-3:7777;
  --zIndex-level-4:6666;
}

/* Dark */
[data-theme="dark"] {
  --bg: #0b32e0;
  --text: #e5e7eb;
  --card: #000000;
  --primary: #60a5fa;
}

/* Midnight (example extra theme) */
[data-theme="midnight"] {
  --bg: #020617;
  --text: #c7d2fe;
  --card: #020617;
  --primary: #818cf8;
}

html {
  transition: background-color 0.25s ease, color 0.25s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Apply to both html and body to ensure coverage */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Brave, Edge */
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}


body {
  /* background: var(--bg); */
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@layer utilities {
  .bg-bg {
    background-color: var(--bg);
  }

  .bg-card {
    background-color: var(--card);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .text-text {
    color: var(--text);
  }

  .border-card {
    border-color: var(--card);
  }

}
