.contactmenu {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  will-change: transform;
  background-color: rgba(41, 39, 37, 1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1.4em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Allow scrolling */
  pointer-events: none; /* Start disabled, JS will enable when open */
  overscroll-behavior: contain; /* Prevent scroll chaining */
  isolation: isolate; /* Create new stacking context */
    width: 5vw;
  height: 5vh;
  border-radius: 4em;
}

.contactmenuOpen{
  z-index: var(--zIndex-level-4);
}

.contactmenuClose{
  z-index: var(--zIndex-level-6);

}

.hero1Btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  background-color: var(--base-300);
  color: var(--base-100);
  will-change: transform;
  cursor: pointer;
}

.hero1MenuHeroBtn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  pointer-events: all;

}
.hero1MenuHeroBtnOpen {
  z-index: var(--zIndex-level-3);
}
.hero1MenuHeroBtnClose {
  z-index: var(--zIndex-level-6);
}

.hero1BtnIcon {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-45deg);
  will-change: transform;
}

.hero1BtnLabel span {
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 1;
}
