.contactmenu {
  z-index: var(--zIndex-level-4);
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  will-change: transform;
  border-radius:2rem;
  background-color: rgba(41, 39, 37, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  min-width: 100px;
  padding: 1.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden; /* REQUIRED for height animation */
  cursor: pointer;
}

.hero1Btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  background-color: var(--base-300);
  color: var(--base-100);
  will-change: transform;
  cursor: pointer;
}

.hero1MenuHeroBtn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  pointer-events: all;
    z-index: var(--zIndex-level-3);

}

.hero1BtnIcon {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-45deg);
  will-change: transform;
}

.hero1BtnLabel span {
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 1;
}
